@font-face {
    font-family: "OSeongandHanEum";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
  }


#sec1{
    height: 100vh;
}
.option-wrap{
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    position: relative;
}

select {
    margin-bottom: 2px;
    font-family: OSeongandHanEum;
    outline: 0;
    background: #919191;
    color: #fff;
    border: 0px;
    padding: 4px;
    border-radius: 9px;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 45%;
    height: 5%;
    transform: translate(-50%, -50%);
}
h1{
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-family: OSeongandHanEum;
    color: #919191;
}


input {
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 58%;
    height: 5%;
    color: white;
    border-radius: 9px;
    transform: translate(-50%, -50%);
    border: 0px;
    background-color: rgb(122, 122, 255);
}